{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %}" class='img-fluid'>
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                            New goods
                    </h1>
                </div>
                {% for product_image in products_images %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div>
                            <img src="{{product_image.image.url}}" class='img-fluid'>
                        </div>
                        <h4>{{product_image.product.name}}</h4>
                        <p>{{product_image.product.description|truncatechars_html:70}}</p>
                        <div>
                            {{product_image.product.price}} руб
                        </div>
                        <div class="add-to-card-btn">
                                <button type="button" class="btn btn-success">add to buy</button>
                        </div>                        
                    </div>
                </div>
                {% endfor %}              
            </div>
        </div>
    </div>
    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        New goods
                    </h1>
                </div>
                {% for product_image in products_images %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div>
                            <img src="{{product_image.image.url}}" class='img-fluid'>
                        </div>
                        <h4>{{product_image.product.name}}</h4>
                        <p>{{product_image.product.description|truncatechars_html:70}}</p>
                        <div>
                            {{product_image.product.price}} руб
                        </div>
                        <div class="add-to-card-btn">
                                <button type="button" class="btn btn-success">add to buy</button>
                        </div>                        
                    </div>
                </div>
                {% endfor %}              
            </div>
        </div>
    </div>
    <div class="section section3 loptops-container">
        <div class="container">
            <div class="row">
                {% for product_image in products_images %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div>
                            <img src="{{product_image.image.url}}" class='img-fluid'>
                        </div>
                        <h4>{{product_image.product.name}}</h4>
                        <p>{{product_image.product.description|truncatechars_html:70}}</p>
                        <div>
                            {{product_image.product.price}} руб
                        </div>
                        <div class="add-to-card-btn">
                                <button type="button" class="btn btn-success">add to buy</button>
                        </div>                        
                    </div>
                </div>
                {% endfor %}              
            </div>
        </div>
    </div>
{% endblock %}